@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@400&display=swap');

body {
    background-color: #454545; /* cor secundária */
    color: #ca6212; /* cor primária */
}

.cocktail-image {
    object-fit: cover;
    width: 100%;
    height: 200px; /* Altura fixa para as imagens */
}

.cocktail-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 15px -3px rgba(199, 110, 0, 0.5), 0 4px 6px -2px rgba(199, 110, 0, 0.2);
}

input:focus, select:focus, textarea:focus {
    box-shadow: 0 0 0 2px rgba(109, 89, 122, 0.5); /* Cor Accent com transparência */
}